<!DOCTYPE html>
{% load i18n static %}
<html>
  <head lang={{ LANGUAGE_CODE }}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="">
    <title>DjangoSIGE | {% block title %}Bem-vindo{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css" /> {% endcomment %}
    {% comment %} <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" /> {% endcomment %}
    {% comment %} <link href="{% static 'css/style.css' %}" rel="stylesheet" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    <script src="{% static 'js/jquery/jquery-3.0.0.min.js' %}"></script>
    <script defer src="{% static '@popperjs/core/dist/umd/popper.js' %}"></script>
    <script defer src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
  </head>
  <body class="bg-secondary-subtle">

    <!--
      Este bloco renderiza uma sobreposição do carregador de página, ele está sendo
      usando para indicar que o conteúdo está carregando.
    -->
    <div class="page-loader-wrapper">
      <div class="loader">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
      </div>
    </div>

    <!-- Overlay -->
    <div class="overlay"></div>

    {% block side_top_bars %}
      {% block menu_global %}
      <!--
      Exibe um cabeçalho responsivo com três seções principais:

      1. Seção Esquerda:
      - Exibe um botão de menu (ícone de hambúrguer) para dispositivos móveis (visível em telas pequenas).
      - Exibe o logotipo do site, que leva à página inicial.

      2. Seção Central:
      - Exibe o menu de navegação (visível em telas grandes).

      3. Seção Direita:
      - Menu suspenso do usuário com imagem do perfil.
      - Opções do menu suspenso:
      - "Meu perfil": Link para a página de perfil do usuário.
      - "Minha Empresa": Link de espaço reservado para a página da empresa.
      - "Usuários": Link para a página de gerenciamento de usuários.
      - "Ajuda": Link externo para o repositório GitHub do projeto.
      - "Sair": Link para logout.
      -->
      <header class="mb-3 py-2 bg-light shadow-lg">
        <div class="container-xxl">
          <div class="d-flex align-items-center justify-content-between">
            <section class="d-flex align-items-center gap-3">
              <div class="d-block d-lg-none">
                <button class="btn btn-outline-dark"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample"
                        aria-controls="offcanvasExample">

                  <i class="bi bi-list"></i>
                </button>
              </div>
              <p class="m-0">
                <a  href="{% url "djangosige_pagina_inicial" %}"
                    class="h3 link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">

                  {% include "includes/_logo.html" %}
                </a>
              </p>
            </section>
            <section class="d-none d-lg-block">
              {% include "includes/_navmenu.html" %}
            </section>
            <section class="d-flex align-items-center">
              <section class="d-none d-lg-block">
                <p class="m-0">{{ request.user.username }}</p>
              </section>
              <div class="dropdown">
                <button class="btn btn-underline-secondary border-0 shadow-none dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">

                  <img  src="/media/{% if user_foto_sidebar %}{{ user_foto_sidebar }}{% else %}imagens/user.png{% endif %}"
                        width="28"
                        height="28"
                        alt="User" />
                </button>
                <ul class="dropdown-menu">
                  <li><a  class="dropdown-item"
                          href="{% url 'login:perfilview' %}">

                    Meu perfil
                  </a></li>
                  <li><a  class="dropdown-item"
                          href="#">

                    Minha Empresa
                  </a></li> <!-- Arrumar link -->
                  <li><a  class="dropdown-item"
                          href="{% url 'login:usuariosview' %}">

                    Usuários
                  </a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a  class="dropdown-item"
                          href="https://github.com/thiagopena/djangoSIGE" target="_blank">

                    Ajuda
                  </a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a  class="dropdown-item"
                          href="{% url 'login:logoutview' %}">

                    Sair
                  </a></li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </header>

      <!--
      Offcanvas para o menu de navegação. Esse menu está disponível para uso quando o
      temanho da tela é pequeno o suficiente para que o menu de navegação não puder ficar visível
      no centro da barra de navegação
      -->
      <aside class="offcanvas offcanvas-start bg-primary" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasNavMenuGlobalLabel">
        <header class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavMenuGlobalLabel">
            {% include "includes/_logo.html" %}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </header>
        <main class="offcanvas-body h-100">
          {% include "includes/_navmenu.html" %}
        </main>
      </aside>
      {% endblock menu_global %}
    {% endblock side_top_bars %}

    <main class="container-xxl">
      {% block breadcrumb %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
      </nav>
      {% endblock breadcrumb %}

      {% block content %}
      {% endblock content %}
    </main>

    <div class="container xxl">
      <footer class="mt-4 py-4">
        <h6 class="text-center">Versão 0.1.0</h6>
      </footer>
    </div>

    {% include 'base/modal.html' %}

    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>

    <!--
    Este bloco verifica se há mensagens do Django no contexto do template.
    Para cada mensagem, se suas tags incluírem 'permission_warning',
    ele aciona um alerta JavaScript usando $.Admin.messages.msgAlerta
    para exibir o conteúdo da mensagem. Isso normalmente é usado para notificar
    os usuários sobre avisos relacionados a permissões.
    -->
    {% if messages %}
      {% for message in messages %}
        {% if 'permission_warning' in message.tags %}
          <script type="text/javascript">
            $.Admin.messages.msgAlerta("{{ message }}");
          </script>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% block js %}
    {% endblock js %}
  </body>
</html>
