<ul class="nav nav-underline flex-column flex-lg-row justify-content-evenly h-100">
  <li class="nav-item">
    <a class="text-capitalize link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">cadastros</a>
  </li>
  <li class="nav-item">
    <a class="text-capitalize link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">vendas</a>
  </li>
  <li class="nav-item">
    <a class="text-capitalize link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">compras</a>
  </li>
  <li class="nav-item">
    <a class="text-capitalize link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">fiscal</a>
  </li>
  <li class="nav-item">
    <a class="text-capitalize link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">financeiro</a>
  </li>
  <li class="nav-item">
    <a class="text-capitalize link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">estoque</a>
  </li>
</ul>
