<nav class="nav flex-column flex-lg-row gap-3">
    <a href="" class="{% if page == 'cadastros' %}text-vermelho-alaranjado{% else %}link-light{% endif %} link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cadastros</a>
    <a href="" class="{% if page == 'vendas' %}text-vermelho-alaranjado{% else %}link-light{% endif %} link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Vendas</a>
    <a href="" class="{% if page == 'compras' %}text-vermelho-alaranjado{% else %}link-light{% endif %} link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Compras</a>
    <a href="" class="{% if page == 'fiscal' %}text-vermelho-alaranjado{% else %}link-light{% endif %} link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Fiscal</a>
    <a href="" class="{% if page == 'financeiro' %}text-vermelho-alaranjado{% else %}link-light{% endif %} link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Financeiro</a>
    <a href="" class="{% if page == 'estoque' %}text-vermelho-alaranjado{% else %}link-light{% endif %} link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Estoque</a>
</nav>
