{% extends '_base.html' %}

{% block title %}Página Inicial{% endblock title %}

{% block content %}
<section>
  <h3>Informações</h3>
  <p>Informações sobre o sistema para o dia {% now "SHORT_DATETIME_FORMAT" %}</p>
</section>

<section class="d-flex flex-wrap gap-3 mb-3">
  <!--
  Seção: Cartão de Cadastros

  Esse cartão resumindo o número de itens adicionados para várias entidades de cadastro.
  Ela exibe uma lista de entidades (Clientes, Fornecedores, Produtos, Empresas, Transportadoras) com suas respectivas contagens.
  Cada item da lista é renderizado condicionalmente com base nas permissões do usuário para visualizar aquela entidade.
  Clicar em uma entidade navega para sua respectiva visualização de lista.
  -->
  <section class="card flex-fill shadow-lg">
    <header class="card-header">
      <h3 class="card-title">Cadastros</h3>
    </header>
    <main class="card-body">
      <ul class="list-group list-group-flush">
        {% if perms.cadastro.view_cliente %}
        <li class="list-group-item">
          <a href="{% url 'cadastro:listafornecedoresview' %}">
            <span class="fw-bold">{{ quantidade_cadastro.clientes }}</span> Clientes
          </a>
        </li>
        {% endif %}
        {% if perms.cadastro.view_fornecedor %}
        <li class="list-group-item">
          <a href="{% url 'cadastro:listaclientesview' %}">
            <span class="fw-bold">{{ quantidade_cadastro.fornecedores }}</span> Fornecedores
          </a>
        </li>
        {% endif %}
        {% if perms.cadastro.view_produto %}
        <li class="list-group-item">
          <a href="{% url 'cadastro:listaprodutosview' %}">
            <span class="fw-bold">{{ quantidade_cadastro.produtos }}</span> Produtos
          </a>
        </li>
        {% endif %}
        {% if perms.cadastro.view_empresa %}
        <li class="list-group-item">
          <a href="{% url 'cadastro:listaempresasview' %}">
            <span class="fw-bold">{{ quantidade_cadastro.empresas }}</span> Empresas
          </a>
        </li>
        {% endif %}
        {% if perms.cadastro.view_transportadora %}
        <li class="list-group-item">
          <a href="{% url 'cadastro:listatransportadorasview' %}">
            <span class="fw-bold">{{ quantidade_cadastro.transportadoras }}</span> Transportadoras
          </a>
        </li>
        {% endif %}
    </main>
  </section>

  <!--
  Seção Cartão Agenda de Hoje

  Exibe uma lista de itens da agenda do dia, incluindo orçamentos, pedidos e contas, conforme permissões do usuário.
  Cada item mostra a quantidade correspondente e um link para a respectiva visualização detalhada.
  -->
  <section class="card flex-fill shadow-lg shadow-lg">
    <header class="card-header">
      <h3 class="card-title">Agenda de Hoje</h3>
    </header>
    <main class="card-body">
      <ul class="list-group list-group-flush">
        {% if perms.cadastro.view_transportadora %}
        <li class="list-group-item">
          <a href="{% url 'vendas:listaorcamentovendahojeview' %}">
            <span class="fw-bold">{{ agenda_hoje.orcamento_venda_hoje }}</span> Orçamentos de venda a vencer hoje
          </a>
        </li>
        {% endif %}
        {% if perms.compras.view_orcamentocompra %}
        <li class="list-group-item">
          <a href="{% url 'compras:listaorcamentocomprahojeview' %}">
            <span class="fw-bold">{{ agenda_hoje.orcamento_compra_hoje }}</span> Orçamentos de compra a vencer hoje
          </a>
        </li>
        {% endif %}
        {% if perms.vendas.view_pedidovenda %}
        <li class="list-group-item">
          <a href="{% url 'vendas:listapedidovendahojeview' %}">
            <span class="fw-bold">{{ agenda_hoje.pedido_venda_hoje }}</span> Pedidos de venda com entrega hoje
          </a>
        </li>
        {% endif %}
        {% if perms.compras.view_pedidocompra %}
        <li class="list-group-item">
          <a href="{% url 'compras:listapedidocomprahojeview' %}">
            <span class="fw-bold">{{ agenda_hoje.pedido_compra_hoje }}</span> Pedidos de compra com entrega hoje
          </a>
        </li>
        {% endif %}
        {% if perms.financeiro.view_lancamento %}
        <li class="list-group-item">
          <a href="{% url 'financeiro:listacontareceberhojeview' %}">
            <span class="fw-bold">{{ agenda_hoje.contas_receber_hoje }}</span> Contas a receber
          </a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'financeiro:listacontapagarhojeview' %}">
            <span class="fw-bold">{{ agenda_hoje.contas_pagar_hoje }}</span> Contas a pagar
          </a>
        </li>
        {% endif %}
      </ul>
    </main>
  </section>

  <!--
  Exibe uma lista de alertas operacionais para o usuário.

  Cada item na lista mostra a contagem de um alerta específico e funciona como um link para a página de listagem correspondente.
  A exibição de cada alerta é controlada pelas permissões de usuário do Django, garantindo que o usuário veja apenas informações
  para as quais tem acesso.
  -->
  <section class="card flex-fill shadow-lg">
    <header class="card-header h-25">
      <h3 class="card-title">Alertas</h3>
    </header>
    <main class="card-body">
      <ul class="list-group list-group-flush">
        {% if perms.cadastro.view_transportadora %}
        <li class="list-group-item">
          <a href="{% url 'cadastro:listaprodutosbaixoestoqueview' %}">
            <span class="fw-bold">{{ alertas.produtos_baixo_estoque }}</span> Produtos com baixo estoque
          </a>
        </li>
        {% endif %}
        {% if perms.vendas.view_orcamentovenda %}
        <li class="list-group-item">
          <a href="{% url 'vendas:listaorcamentovendavencidoview' %}">
            <span class="fw-bold">{{ alertas.orcamentos_venda_vencidos }}</span> Orçamentos de venda vencidos
          </a>
        </li>
        {% endif %}
        {% if perms.compras.view_orcamentocompra %}
        <li class="list-group-item">
          <a href="{% url 'compras:listaorcamentocompravencidosview' %}">
            <span class="fw-bold">{{ alertas.orcamentos_compra_vencidos }}</span> Orçamentos de compra vencidos
          </a>
        </li>
        {% endif %}
        {% if perms.vendas.view_pedidovenda %}
        <li class="list-group-item">
          <a href="{% url 'vendas:listapedidovendaatrasadosview' %}">
            <span class="fw-bold">{{ alertas.pedidos_venda_atrasados }}</span> Pedidos de venda atrasados
          </a>
        </li>
        {% endif %}
        {% if perms.compras.view_pedidocompra %}
        <li class="list-group-item">
          <a href="{% url 'compras:listapedidocompraatrasadosview' %}">
            <span class="fw-bold">{{ alertas.pedidos_compra_atrasados }}</span> Pedidos de compra atrasados
          </a>
        </li>
        {% endif %}
        {% if perms.financeiro.view_lancamento %}
        <li class="list-group-item">
          <a href="{% url 'financeiro:listacontareceberatrasadasview' %}">
            <span class="fw-bold">{{ alertas.contas_receber_atrasadas }}</span> Contas a receber atrasadas
          </a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'financeiro:listacontapagaratrasadasview' %}">
            <span class="fw-bold">{{ alertas.contas_pagar_atrasadas }}</span> Contas a pagar atrasadas
          </a>
        </li>
        {% endif %}
      </ul>
    </main>
  </section>
</section>

<section class="card">
  <header class="card-header d-flex justify-content-between align-items-center pb-3">
    <h3 class="card-title">Fluxo de caixa</h3>
    <a href="{% url 'financeiro:fluxodecaixaview' %}" class="btn btn-secondary">
      <i class="bi bi-search"></i> FLUXO DE CAIXA
    </a>
  </header>
  <main class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Saldo Inicial</th>
            <th>Entradas</th>
            <th>Saídas</th>
            <th>Lucro / Prejuizo</th>
            <th>Saldo Final</th>
          </tr>
        </thead>
        <tbody>
          {% if movimento_dia %}
          <tr>
            <td>{{ movimento_dia.format_data_movimento }}</td>
            <td>{{ movimento_dia.saldo_inicial }}</td>
            <td>{{ movimento_dia.entradas }}</td>
            <td>{{ movimento_dia.saidas }}</td>
            <td class="{% if movimento_dia.valor_lucro_prejuizo < 0 %}bg-danger-subtle{% else %}bg-success-subtle{% endif %}">
              {{ movimento_dia.valor_lucro_prejuizo }}
            </td>
            <td>{{ movimento_dia.saldo_final }}</td>
          </tr>
          {% else %}
          <tr>
            <td>{{ data_atual }}</td>
            <td>{{ saldo }}</td>
            <td>0,00</td>
            <td>0,00</td>
            <td class="bg-success-subtle">0,00</td>
            <td>{{ saldo }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </main>
</section>
{% endblock %}
