<nav class="nav flex-column flex-lg-row">
  <a
    href="{% url 'cadastros:listar_cadastros' %}"
    class="nav-link text-capitalize {% if pagina == 'cadastros' %}text-black{% endif %}"
  >
    cadastros
  </a>
  <a
    class="nav-link text-capitalize {% if pagina == 'estoque' %}text-black{% endif %}"
    href=""
  >
    estoque
  </a>
  <a
    class="nav-link text-capitalize {% if pagina == 'produtos' %}text-black{% endif %}"
    href=""
  >
    produtos
  </a>
  <a
    class="nav-link text-capitalize {% if pagina == 'vendas' %}text-black{% endif %}"
    href=""
  >
    vendas
  </a>
  <a
    class="nav-link text-capitalize {% if pagina == 'compras' %}text-black{% endif %}"
    href=""
  >
    compras
  </a>
  <a
    class="nav-link text-capitalize {% if pagina == 'fiscal' %}text-black{% endif %}"
    href=""
  >
    fiscal
  </a>
  <a
    class="nav-link text-capitalize {% if pagina == 'financeiro' %}text-black{% endif %}"
    href=""
  >
    financeiro
  </a>
</nav>
