# Exemplo de .env
DEBUG=True
DJANGO_SECRET_KEY=sua_chave_secreta_aqui_para_desenvolvimento
DATABASE_URL=sqlite:///./db.sqlite3
ALLOWED_HOSTS=localhost,127.0.0.1

# Configurações de Email (Exemplo para Mailpit/Mailhog em dev)
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False

# Para Produção, você usaria algo assim:
# DEBUG=False
# DJANGO_SECRET_KEY=uma_chave_secreta_MUITO_segura_para_producao
# DATABASE_URL=postgres://user:password@host:port/dbname
# ALLOWED_HOSTS=djangosige.com.br,www.djangosige.com.br
# EMAIL_HOST=smtp.seudominio.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=seu_email@seudominio.com
# EMAIL_HOST_PASSWORD=sua_senha_email
# DEFAULT_FROM_EMAIL="DjangoSIGE <noreply@djangosige.com.br>"
# SECURE_SSL_REDIRECT=True
# DJANGO_ADMIN_URL=admin_super_secreto/
# REDIS_URL=redis://localhost:6379/0
