# GERAL
# ------------------------------------------------------------------------------
DEBUG=True


# Segurança
# ------------------------------------------------------------------------------
SECRET_KEY==35ag5a7cfdh55$y2_b74*p#*j81p^1__quxm2ie6!%f-4a_t6
ALLOWED_HOSTS=127.0.0.1, localhost, 0.0.0.0


# Banco de dados
# ------------------------------------------------------------------------------
DATABASE_URL=sqlite:///db.sqlite3

# Email (Configurações comuns)
# ------------------------------------------------------------------------------
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
