[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.14"
python-decouple = "==3.8"
dj-database-url = "==0.5.0"
signxml = "==4.2.0"
geraldo = {file = "https://github.com/thiagopena/geraldo/archive/master.zip"}
pysignfe = {file = "https://github.com/thiagopena/PySIGNFe/archive/master.zip"}

[dev-packages]

[requires]
python_version = "3.12"
