-i https://pypi.org/simple

django==3.1.14; python_version >= '3.6'

dj-database-url==0.5.0
python-decouple==3.1

https://github.com/thiagopena/geraldo/archive/master.zip
https://github.com/thiagopena/PySIGNFe/archive/master.zip

reportlab==3.5.68; python_version >= '2.7' and python_version < '4'

signxml==2.5.2
