<nav class="nav">
  <a
    href=""
    class="nav-link text-capitalize text-primary"
  >
    geral
  </a>
  <a
    href=""
    class="nav-link text-capitalize disabled"
  >
    contatos
  </a>
  <a
  href=""
  class="nav-link text-capitalize disabled"
  >
    endereço
  </a>
  <a
    href=""
    class="nav-link text-capitalize disabled"
  >
    dados bancários
  </a>
  <a
    href=""
    class="nav-link text-capitalize disabled"
  >
    documentos
  </a>
    <a
    href=""
    class="nav-link text-capitalize disabled"
  >
    relacionamentos
  </a>
</nav>
